*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#parent {
    /* position: absolute; */
    width: 100%;
    height: 30vh;
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../image/image1.webp");
    background-size: cover;
    background-position: center;
}
#btn1 {
    color : rgb(166, 124, 235);
    border-radius: 30px;
    padding: 15px 40px;
    background-color: white;
    font-size: medium;
    border: none;
    margin-top: 1em;
    border: 1px solid rgba(120, 116, 116, 0.101);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
#btn1:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
#petit_block {

    text-align: center;
}
/* #picture {
    width: 100%;  
} */
#parent2{
    width: 80%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/image_main3/image1.webp);
    background-size: cover;
    background-position: center;
    margin-left: 10%;
    border-radius: 1rem;
    padding-left: 10%;
    padding-bottom: 25%;
    position: relative;
    
}
#petit_block2 {
    /* text-align: left; */
    /* padding-left: 13%; */
    /* padding-bottom: 22%; */
    position: absolute;
    left: 3%;
    top: 20%;
    width: 80%;
    

}
h1 {
    font-weight: 400;
    font-size: 2.25rem;
    padding-bottom: 10px;
}
#petit_block2 p {
    font-size: 18px;
    padding-bottom:10px;
    /* font-weight: lighter; */
    
}
#btn2 {
    color : white;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: black;
    font-size: 14px;
    border: none;
}

@media screen  and (min-width: 530px) {
    #parent {
height: 40vh;
    }
}
@media screen  and (min-width: 670px) {
    #parent {
height: 50vh;
    }
}
@media screen  and (min-width: 875px) {
    #parent {
height: 70vh;
    }
}


